<main class = "about-page">
    <h1>About Us</h1>
   <h2 id = "groupMembers">
        <li>Arian Ghorbani: ghorbana@oregonstate.edu</li>
        <li>Jackson Anglin: anglinj@oregonstate.edu</li>
        <li>Ka Lun Galant Lam: lamkalu@oregonstate.edu</li>
        <li>Yuhang Zhang: zhanyuh2@oregonstate.edu</li>
    </h2>
</main>