<aside class="filter-container">
  <h2>Find a recipe</h2>
  <div class="filter-input-container">
    <label for="filter-text" class="filter-input-label">Food name</label>
    <input type="text" name="filter-text" id="filter-text" class="filter-input">
  </div>
  <div class="filter-input-container">
    <label for="filter-min-price" class="filter-input-label">Cooktime</label>
    <input type="number" name="filter-min-price" id="filter-min-price" class="filter-input" placeholder="min">
    <input type="number" name="filter-max-price" id="filter-max-price" class="filter-input" placeholder="max">
  </div>
  <div class="filter-input-container">
    <label for="filter-city">Country</label>
    <select id="filter-city" class="filter-input" name="filter-city">
      <option selected value="">Choose one</option>
      <option>America</option>
      <option>China</option>
      <option>Britain</option>
      <option>Italy</option>
      <option>Canada</option>
      <option>Africa</option>
    </select>
  </div>
  <div class="filter-input-container">
    <fieldset id="filter-condition" class="filter-fieldset">
      <legend>Food time</legend>
      <div>
        <input type="checkbox" name="filter-condition" id="filter-condition-new" value="new">
        <label for="filter-condition-new">breakfast</label>
      </div>
      <div>
        <input type="checkbox" name="filter-condition" id="filter-condition-excellent" value="excellent">
        <label for="filter-condition-excellent">Lunch</label>
      </div>
      <div>
        <input type="checkbox" name="filter-condition" id="filter-condition-good" value="good">
        <label for="filter-condition-good">dinner</label>
      </div>
      <div>
        <input type="checkbox" name="filter-condition" id="filter-condition-fair" value="fair">
        <label for="filter-condition-fair">fast food</label>
      </div>
      <div>
        <input type="checkbox" name="filter-condition" id="filter-condition-poor" value="poor">
        <label for="filter-condition-poor">snack</label>
      </div>
    </fieldset>
  </div>
  <button id="filter-update-button" class="action-button">Find</button>
</aside>