<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Recipe Creator!</title>
        <!-- UNFINISHED -->

        <!-- remember to implement scripts for sources-->
    </head>

    <body>
        <header>

            <h1 class="site-title"><a href="#">Recipe Creator!</a></h1>
        </header>

    </body>

    {{{body}}}
    <!-- find out where this is coming from-->

</html>