<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Define Food</title>

    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Sans+Pro:wght@200;400&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" ></script>
    <script src="/recipeTemplate.js" charset="utf-8" defer></script>

    <script src="/index.js" charset="utf-8" defer></script>

    </head>

    <body>
        <header>
            <h1 id = "headTitle" class="site-title"><a href="#">def: food()</a></h1>
        </header>
        <div id = "buttonSpace">
            <nav id = "navBar" class = "navBarStuff">
                <ul>
                    <li id = "button"><a href="http://localhost:3000/">return Home</a></li>
                </ul>
            </nav>
            <nav id = "navBar" class = "navBarStuff">
                <ul>
                    <button id = "recipeButton">new Recipe</button>
                </ul>
            </nav>
            <nav id = "navBar" class = "navBarStuff">
                <ul>
                    <li id = "button"><a href="http://localhost:3000/about">def: Us()</a></li>
                </ul>
            </nav>
        </div>
        {{{body}}}

    </body>

    <div id="creatingRecipe-modal" class="hide">
        <div id="modal-dialog">

        <div class="modal-header">
            <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
                
            <h2 id = "createTitle">Creating New Recipe</h2>
        </div>

        <div class="modal-body">

            <div class="recipe-input-element">
                <label for="recipe-name-input">Food name</label>
                <input type="text" id="recipe-name-input"></input>
            </div>

            <div class="recipe-input-element">
                <label for="recipe-photo-input">Image URL</label>
                <input type="text" id="recipe-photo-input">
            </div>

            <div class="recipe-input-element">
                <label for="recipe-cooktime-input">Cooktime</label>
                <input type="number" id="recipe-cooktime-input">
            </div>
            
            <div class="recipe-input-element">
                <label for="recipe-instructions-input">Instructions</label>
                <textarea type="text" id="recipe-instructions-input"> </textarea>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" id="modal-cancel" class="modal-hide-button">Cancel</button>
            <button type="button" id="modal-accept" class="action-button">Create</button>
        </div>

    </div>

</html>