<main class = "creatingRecipe-page">
    <h1>About</h1>
   <h2>
        <li>Arian Ghorbani: ghorbana@oregonstate.edu</li>
        <li>Jackson Anglin: anglinj@oregonstate.edu</li>
        <li>Ka Lun Galant Lam: lamkalu@oregonstate.edu</li>
        <li>Yuhang Zhang: zhanyuh2@oregonstate.edu</li>
    </h2>
</main>