<main class = "creatingRecipe-page">
   <div id="creatingRecipe-modal">
     <div class="modal-dialog">

       <div class="modal-header">
         <h2>Creating new recipe</h2>
         <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
       </div>

       <div class="modal-body">

         <div class="recipe-input-element">
           <label for="recipe-name-input">Name</label>
           <input type="text" id="recipe-name-input"></input>
         </div>

         <div class="recipe-input-element">
           <label for="recipe-photo-input">Photo URL</label>
           <input type="text" id="recipe-photo-input">
         </div>

         <div class="recipe-input-element">
           <label for="recipe-cooktime-input">Cooktime(min) </label>
           <input type="number" id="recipe-cooktime-input">
         </div>

         <div class="recipe-input-element">
           <label for="recipe-steps-input">Steps</label>
           <input type="text" id="recipe-steps-input">
         </div>
       </div>

       <div class="modal-footer">
         <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
         <button type="button" id="modal-accept" class="action-button">Sharing new recipe</button>
       </div>

     </div>
   </div>
</main>
