<main class="content">
    <section class="recipes">
        <!-- IMPLEMENT AN #EACH HERE FOR THE INDIVIDUAL RECIPE DATA; PARTIAL-->
    </section>
</main>

<button type="button" class="create-recipe-button"></button> <!-- see if you need to format-->

<!-- above button should take user to the input page for recipes-->