<main class="content">
    <section class="recipes">
        {{#each recipeData}}
            {{> newRecipe}}
        {{/each}}
    </section>
</main>

 <!-- see if you need to format-->
<!-- above button should take user to the input page for recipes-->
